*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --maxWidth:1500px;
}

#vaccine-card{
    position: relative; 
}

#vaccine-logo-container{
    position:absolute;
    top: 0;
    right: 0;
}


#vaccine-card{
    width: 90%;
    margin: 0 auto;
    margin-top: 1.5rem;
    padding: 1.5rem;
    border: 1px dashed black;
}


@media screen and (min-width:800px){
    
}